{% extends 'lancerApp/home.html' %}
{% load staticfiles %}
{% block title %}О Лансер Сервис{% endblock %}
{% block actions %}
{% endblock %}
{% block content %}

    <section id="about" class="clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3><i class="fa fa-book"></i>О компании</h3>
                    <div>
                        {% autoescape off %}
                            {{ about_company }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% comment %}<h3><i class="fa fa-youtube-play"></i>О компании</h3>{% endcomment %}
                    <div class="local-wrapper">
                        <div id="video-display" class="pretty-embed"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="stuff" class="clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3><i class="fa fa-users"></i>Наши сотрудники</h3>
                </div>
            </div>
            {% for staff_row in staff_rows %}
                <div class="row stuff">
                {% for person in staff_row %}
                    <div class="col-md-3 text-left">
                        <a class="fancybox" rel="gallery" data-title-id="title-{{ person.id }}" href="{{ person.photo.url }}">
                            <img src="{{ person.photo.url }}" alt="staff">
                        </a>
                        <div id="title-{{ person.id }}" class="hidden">
                            <h5>{{ person.full_name }} / {{ person.position }}</h5>
                            {{ person.desc }}
                        </div>
                        <div class="clearfix">
                            {{ person.full_name }} <br>
                            {{ person.position }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
{% block js_plugins %}
    <script src="{% static 'bower_components/waitForImages/dist/jquery.waitforimages.js' %}"></script>
    <script src="{% static 'bower_components/pretty-embed/jquery.prettyembed.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bower_components/fancybox/source/jquery.fancybox.css' %}">
    <script src="{% static 'bower_components/fancybox/source/jquery.fancybox.js' %}"></script>

    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}
{% block makeup %}
    <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/index-2_about.jpg"></script>
{% endblock %}