{% extends 'lancerApp/home.html' %}
{% block title %}Lancer Service{% endblock %}
{% block actions %}
{% endblock %}
{% block content %}

    <style>
        #not_found {
            margin: 130px auto;
            text-align: center;
            font-size: 32px;
            position: relative;
            color: #aaaaaa;
            font-family: 'PT Sans', sans-serif;
        }
    </style>
    <div id="not_found">404 <br> Страница еще не готова</div>

{% endblock %}
{% block carousel_js %}{% endblock %}
