{% extends 'lancerApp/home.html' %}
{% load staticfiles %}
{% block title %}Услуги | Лансер Сервис{% endblock %}
{% block actions %}
{% endblock %}
{% block content %}

    <section id="page-service" class="clearfix">
        <h3><i class="fa fa-wrench"></i>Наши услуги</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='to' %}">
                        <img src="{% static 'images/service-type/to/kpp.png' %}" alt="">
                        <span class="service-name">Техническое обслуживание</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='oil' %}">
                        <img src="{% static 'images/service-type/oil.png' %}" alt="">
                        <span class="service-name">Замена жидкостей</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='brake' %}">
                        <img src="{% static 'images/service-type/touypmouyzeenaua-cecteoma-1_w375.png' %}" alt="">
                        <span class="service-name">Тормозная система</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='chassis' %}">
                        <img src="{% static 'images/service-type/service_3.png' %}" alt="">
                        <span class="service-name">Ходовая часть</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='engine' %}">
                        <img src="{% static 'images/service-type/engine2.png' %}" alt="">
                        <span class="service-name">Двигатель</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='transmiss' %}">
                        <img src="{% static 'images/service-type/kpp.png' %}" alt="">
                        <span class="service-name">Трансмиссия</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='electro' %}">
                        <img src="{% static 'images/service-type/elektr.png' %}" alt="">
                        <span class="service-name">Электрика</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='wheel' %}">
                        <img src="{% static 'images/service-type/detail-2.png' %}" alt="">
                        <span class="service-name">Рулевое управление</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' service_type='other' %}">
                        <img src="{% static 'images/service-type/filtry-vozdushnyye.png' %}" alt="">
                        <span class="service-name">Другое</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a class="service-type" href="{% url 'price' %}">
                        <img src="{% static 'images/slices/logo-sm.png' %}" alt="">
                        <span class="service-name">Все услуги</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block carousel_js %}{% endblock %}
{% block makeup %}
    <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/index-2_icons.jpg"></script>
{% endblock %}