{% extends 'lancerApp/home.html' %}
{% load staticfiles %}
{% block title %}Наши услуги{% endblock %}
{% block content %}

    <section id="page-service" class="clearfix">
        <h3><i class="fa fa-gear"></i>Наши услуги</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <a class="service-type" href="javascript:void(0)">
                        <img src="{% static 'images/service-type/oil.png' %}" alt="">
                        <span class="service-name">Замена жидкостей</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="service-type" href="javascript:void(0)">
                        <img src="{% static 'images/service-type/detail-2.png' %}" alt="">
                        <span class="service-name">Рулевое управление</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="service-type" href="javascript:void(0)">
                        <img src="{% static 'images/service-type/touypmouyzeenaua-cecteoma-1_w375.png' %}" alt="">
                        <span class="service-name">Тормозная система</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="service-type" href="javascript:void(0)">
                        <img src="{% static 'images/service-type/service_3.png' %}" alt="">
                        <span class="service-name">Ходовая часть</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="service-type" href="javascript:void(0)">
                        <img src="{% static 'images/service-type/engine2.png' %}" alt="">
                        <span class="service-name">Двигатель</span>
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="service-type" href="javascript:void(0)">
                        <img src="{% static 'images/service-type/kpp.png' %}" alt="">
                        <span class="service-name">Трансмиссия</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="service-type" href="javascript:void(0)">
                        <img src="{% static 'images/service-type/elektr.png' %}" alt="">
                        <span class="service-name">Электрика</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block carousel_js %}{% endblock %}
{% block makeup %}
    <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/index-2_icons.jpg"></script>
{% endblock %}