{% extends 'lancerApp/home.html' %}
{% load staticfiles %}
{% block title %}{{ service.name }} | Лансер Сервис{% endblock %}
{% block breadcrumbs %}
    <section id="breadcrumbs" class="clearfix">
        <ol class="breadcrumb col-xs-12">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'service' %}">Услуги</a></li>
            <li><a href="{% url 'price' service_type=service.type %}">{{ service.type_name }}</a></li>
            <li><a href="javascript:void(0)">{{ service.car.name }}</a></li>
            <li class="active">{{ service.name }}</li>
        </ol>
    </section>
{% endblock %}
{% block actions %}
{% endblock %}
{% block content %}

    <section id="page-service" class="clearfix">
        <h3><i class="fa fa-wrench"></i>Услуга: <span class="service-highlight">{{ service.name }}</span> {% if service.car %} на {{ service.car.name }} {% endif %}</h3>
        <h3><i class="fa fa-ruble"></i> Стоимость работы: <span class="service-highlight">{{ service.price|stringformat:'d руб' }}</span></h3>
        <h3><i class="fa fa-gear"></i>Используемые материалы:</h3>
        <div class="container-fluid">
            <table class="price-table">
                {% if spares %}
                    <tr>
                        <th>Запчасти</th>
                        <th>Стоимость</th>
                    </tr>
                    {% for spare in spares %}
                        <tr>
                            <td>{{ spare.name }}</td>
                            <td>{{ spare.price|stringformat:'d руб' }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if techliqs %}
                    <tr>
                        <th>Технические жидкости</th>
                        <th>Стоимость</th>
                    </tr>
                    {% for tl in techliqs %}
                        <tr>
                            <td>{{ tl.name }}</td>
                            <td>{{ tl.price|stringformat:'d руб' }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if service.price_cons %}
                    <tr>
                        <th colspan="2">Стоимость расходных материалы</th>
                    </tr>
                    <tr>
                        <td colspan="2">{{ service.price_cons|stringformat:'d руб' }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </section>

{% endblock %}
{% block carousel_js %}{% endblock %}
{% block makeup %}
    <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/index-2_price.jpg"></script>
{% endblock %}