{% extends 'lancerApp/home.html' %}
{% load staticfiles %}
{% block title %}Прайс{% endblock %}
{% block breadcrumbs %}
    <section id="breadcrumbs" class="clearfix">
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)">Главная</a></li>
            <li><a href="javascript:void(0)">Услуги</a></li>
            <li><a href="javascript:void(0)">Lancer 9</a></li>
            <li><a href="javascript:void(0)">Механическая коробка передач</a></li>
            <li><a href="javascript:void(0)">Двигатель 1.6</a></li>
            <li class="active">Замена жидкостей</li>
        </ol>
    </section>
{% endblock %}
{% block actions %}
{% endblock %}
{% block content %}

    <section id="page-service" class="clearfix">
        <h3><i class="fa fa-gear"></i>Lancer 9 . Замена жидкостей . Прайс лист</h3>
        <div class="container-fluid">
            <table class="price-table">
                <tr>
                    <th>Наименование работ</th>
                    <th>Цена работ</th>
                    <th>Используемые запчасти</th>
                    <th>Цена запчастей</th>
                    <th>Расходные материалы</th>
                    <th>Технические жидкости</th>
                    <th>Цена тех. жидкостей</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </section>

{% endblock %}
{% block carousel_js %}{% endblock %}
{% block makeup %}
    <script src="{% static 'js/makeup/makeup.js' %}?maket=/static/js/makeup/index-2_price.jpg"></script>
{% endblock %}