/*
 Шрифты
 ------
 общий - Myriad Pro (PT Sans)
 телефонный номер - Century Gothic (Muli)
 кнопка ВЫБРАТЬ - Calibri (Open Sans)
*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

.common-font() {
  font-family: 'PT Sans', sans-serif;
}
.phone-font() {
  font-family: 'Muli', sans-serif;
}
.choose-font() {
  font-family: 'Open Sans', sans-serif;
}
/*
 Color Variables
 ---------------
 */
@red-text: #ff3300;
@black-text: #000;
@footer-text: #fff;

@actions-text: #595959;
@phone-text: #491e05;
@darkblue-text: #2f3b4b;

@car-model-text: #3ea8f6;
@car-choosed-text: #128bd1;

@local-headers-text: #333333;

@bg-menu-light: #f6f6f6;
@bg-menu-dark: #eeeef0;
@bg-block: #eeeef0;
@bg-blue-btn: #138ad0;
@bg-footer: #444444;

/*
 Mixin functions
 ---------------
*/
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.box-shadow(@x: 0; @y: 0; @blur: 1px; @spread: 0px; @color: #000) {
  -webkit-box-shadow: @arguments;
     -moz-box-shadow: @arguments;
          box-shadow: @arguments;
}
.linear-gradient(@top, @bottom) {
  background: @top; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(@top, @bottom); /* For Safari 5.1 to 6.0 */
  background:    -moz-linear-gradient(@top, @bottom); /* For Firefox 3.6 to 15 */
  background:      -o-linear-gradient(@top, @bottom); /* For Opera 11.1 to 12.0 */
  background:         linear-gradient(@top, @bottom); /* Standard syntax */
}
.bg-subheader() {
  background: @darkblue-text url("../images/slices/bg-subheader.png") repeat-x ;
}
.bg-header() {
  background: #ffffff url("../images/slices/bg-header-track.jpg") repeat-x;
}

/*
 Общие
 -----
*/
body {
  .common-font;
}
