/* === *
  Шрифты
  ------
  общий - Myriad Pro (аналог: PT Sans)
  телефонный номер - Century Gothic (аналог: Muli)
  кнопка ВЫБРАТЬ - Calibri (аналог: Open Sans)
 * === */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

/* === fonts === */
.common-font() {
    font-family: 'PT Sans', sans-serif;
}
.phone-font() {
    font-family: 'Muli', sans-serif;
}
.choose-font() {
    font-family: 'Open Sans', sans-serif;
}
/* === end fonts === */

/* === color variables  === */
@txt-red: #ff3300;
@txt-black: #000;
@txt-footer: #fff;

@txt-actions: #595959;
@txt-phone: #491e05;
@txt-darkblue: #2f3b4b;

@txt-car-model: #3ea8f6;
@txt-car-choosed: #128bd1;

@txt-local-headers: #333333;

@bg-menu-light: #f6f6f6;
@bg-menu-dark: #eeeef0;
@bg-block: #eeeef0;
@bg-blue-btn: #138ad0;
@bg-footer: #444444;
@bg-carousel-point: #F24585;

@bg-car-top: #e4e4e6;
@bg-car-bottom: #dfdfe8;

@bg-car-hover-top: #e0e0ec;
@bg-car-hover-bottom: #c6c6d4;

@bg-choiceBtn-top: #078cd6;
@bg-choiceBtn-bottom: #1a6eb1;
/* === end color variables  === */

/* === mixin functions === */
.border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}
.box-shadow(@x: 0; @y: 0; @blur: 1px; @spread: 0px; @color: #000; ...) {
    -webkit-box-shadow: @arguments;
       -moz-box-shadow: @arguments;
            box-shadow: @arguments;
}
.linear-gradient(@top, @bottom) {
    background: @top; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(@top, @bottom); /* For Safari 5.1 to 6.0 */
    background:    -moz-linear-gradient(@top, @bottom); /* For Firefox 3.6 to 15 */
    background:      -o-linear-gradient(@top, @bottom); /* For Opera 11.1 to 12.0 */
    background:         linear-gradient(@top, @bottom); /* Standard syntax */
}
.bg-subheader() {
    background: @txt-darkblue url("../images/slices/bg-subheader.png") repeat-x ;
}
.bg-header() {
    background: #ffffff url("../images/slices/bg-header-track.jpg") no-repeat;
    background-position: right;
}
/* === end mixin functions === */

/* === common === */
body {
    .common-font;
}

.wrapper {
    margin: 0 auto;
}
/* === end common === */

/* === header === */
#header {
    .subheader {
        .bg-subheader;
        color: #ffffff;
        height: 33px;
        padding-top: 5px;
        padding-bottom: 5px;

        .glyphicon {
            color: lighten(@txt-darkblue, 20%);
        }
        
        a.enter {
            color: #fff;
            &:hover {
                .glyphicon {
                    color: #fff;
                }
            }
        }

    }

    .header {

        #sub-menu {
            .bg-header;

            .slogan {
                font-size: 17px;
                padding: 30px 0;
                color: @txt-darkblue;
            }
            
            .contact {
                .callme {
                    margin-top: 10px;
                    text-align: right;
                    a {
                        color: @txt-red;
                        border-bottom: 1px dotted;
                        text-decoration: none;
                        &:hover {
                            border-bottom: none;
                        }
                    }
                }
                .phone {
                    .choose-font;
                    margin-top: 30px;
                    color: @txt-phone;
                    font-size: 32px;
                    text-align: right;

                    span {
                        color: #39b385;
                        font-size: 18px;
                    }
                }
                .address {
                    text-align: right;
                    color: @txt-darkblue;
                    font-size: 18px;
                    
                }
            }
        }

        #main-menu {
            background-color: @bg-menu-dark;
            height: 40px;
            ul {
                list-style-type: none;
                padding-left: 0;
                padding-top: 8px;
                li {
                    font-size: 13px;
                    margin-right: 20px;
                    display: inline-block;
                    i {
                        color: @txt-actions;
                    }
                    a {
                        padding-left: 10px;
                        text-transform: uppercase;
                        color: @txt-black;
                        &:hover {
                            color: @txt-red;
                            text-decoration: none;
                        }
                    }
                }
            }

        }

    }
}
/* === end header === */

/* === carousel actions  === */
section#actions {
    padding-top: 3px;

    .carousel {
        width: 65%;
        float: left;
        //position: initial;

        .carousel-indicators {
            bottom: 0;
            width: 50%;
            left: 100%;
            margin-left: 0;
            text-align: left;
            padding-left: 10px;

            li {
                border: 1px solid lighten(@txt-actions, 40%);
                width: 14px;
                height: 14px;
                vertical-align: middle;
                margin: 0 2px;

                &.active {
                    width: 13px;
                    height: 13px;
                    background-color: @bg-carousel-point;
                    border: none;
                    .box-shadow(0,-9px,10px,-7px,#333,inset)
                }
            }
        }

        .carousel-control {
            opacity: 0;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .carousel-captions {
        width: 35%;
        float: left;
        //position: initial;
        //display: block;

        .carousel-caption {
            display: none;
            position: initial;
            color: @txt-actions;
            text-shadow: none;
            text-align: left;
            padding-left: 10px;

            h3 {
                color: @txt-red;
                margin-top: 0;
            }

            &.active {
                display: block;
            }
        }
    }

}

section#breadcrumbs {
    ol.breadcrumb {
        background-color: #fff;
        font-size: 12px;
        li {
            &:before {
                color: @txt-red;
            }
            a {
                color: @txt-red;
            }
        }
    }
}
/* === end carousel actions === */

/* === section service === */
section#service {
    background-color: @bg-menu-dark;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    .header {
        h3, p {
            text-align: center;
        }
        h3 {
            color: @txt-red;
            text-transform: uppercase;
        }
        p {
            color: @txt-darkblue;
        }
    }

    .car-model {
        .border-radius(10px);
        .linear-gradient(@bg-car-top, @bg-car-bottom);
        padding: 10px 10px 10px;
        min-height: 320px;

        &:hover {
            .linear-gradient(@bg-car-hover-top, @bg-car-hover-bottom);
        }

        h2 {
            color: @txt-car-model;
            text-align: center;
            margin-top: 0;
        }

        .car-img {
            text-align: center;
            img {
                width: 80%;
            }
        }

        hr {
            border-top: 1px solid #000;
            margin: 10px auto 10px;
            width: 90%;
        }

        .choice-container {
            .choice {
                display: none;
                &.active {
                    display: block;
                }
                p {
                    line-height: 24px;
                    text-align: center;
                }
                button {
                    .box-shadow(0,0,0,1px,#666);
                    .choose-font;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #fff;
                    padding: 5px 25px;
                    display: block;
                    //margin: 0 auto 10px;
                    .border-radius(6px);
                    .linear-gradient(@bg-choiceBtn-top, @bg-choiceBtn-bottom);
                    border-width: 3px;
                    border-color: #fff #aaa #aaa #fff;
                    border-style: solid inset inset solid;
                    &:active {
                        border-bottom-color: #fff;
                        border-right-color: #fff;
                        border-style: inset solid solid inset;
                    }
                    &:focus {
                        outline: none;
                    }
                    // absolute position props
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    margin-left: -68px;
                    width: 136px;
                }
                .back {
                    text-align: right;
                    a {
                        color: #000;
                        &:hover {
                            color: @txt-car-model;
                        }
                        &:visited, &:focus, &:hover {
                            text-decoration: none;
                        }
                    }
                }
                ul.sub-list {
                    padding-left: 10px;
                    line-height: 18px;
                    a {
                        &:before {
                            content: '- ';
                        }
                    }
                }
                ul {
                    list-style-type: none;
                    &.list {
                        line-height: 16px;
                        padding: 0 12px;
                        margin: 0 auto;

                        &>li {
                            margin-top: 15px;
                            margin-bottom: 7px;
                        }
                        .sub-list {
                            line-height: 18px;
                            display: none;
                            &.active {
                                display: block;
                            }
                        }
                    }
                    li {
                        a {
                            color: #000;
                            &:hover {
                                color: @txt-car-model;
                            }
                            &:visited, &:focus, &:hover {
                                text-decoration: none;
                            }
                        }

                    }
                }
            }

        }
    }
    
}
/* === end section service === */
