/* === *
  Шрифты
  ------
  общий - Myriad Pro (аналог: PT Sans)
  телефонный номер - Century Gothic (аналог: Muli)
  кнопка ВЫБРАТЬ - Calibri (аналог: Open Sans)
 * === */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
/* === fonts === */
/* --- END fonts --- */
/* === color_variables  === */
/* --- END color_variables --- */
/* === mixin_functions === */
/* --- END mixin_functions --- */
/* === common === */
body {
  font-family: 'PT Sans', sans-serif;
}
.wrapper {
  margin: 0 3px;
}
@media (min-width: 1042px) {
  .wrapper {
    margin: 0 auto;
  }
}
/* --- END common --- */
/* === header === */
#header .subheader {
  background: #2f3b4b url("../images/slices/bg-subheader.png") repeat-x;
  color: #ffffff;
  height: 33px;
  padding-top: 7px;
  padding-bottom: 5px;
}
#header .subheader .glyphicon {
  color: #566c8a;
  top: 3px;
}
#header .subheader a.enter {
  color: #fff;
}
#header .subheader a.enter:hover .glyphicon {
  color: #fff;
}
#header .subheader .row > .text-right {
  padding-right: 28px;
}
#header .header #sub-menu {
  background: #ffffff url("../images/slices/bg-header-track.jpg") no-repeat;
  background-position: right;
}
#header .header #sub-menu .logo {
  padding-top: 15px;
  height: 133px;
}
#header .header #sub-menu .slogan {
  font-size: 17px;
  padding: 30px 0;
  color: #2f3b4b;
}
#header .header #sub-menu .contact {
  position: relative;
}
#header .header #sub-menu .contact .callme {
  margin-top: 10px;
  text-align: right;
  font-size: 12px;
}
#header .header #sub-menu .contact .callme a {
  color: #ff3300;
  border-bottom: 1px dotted;
  text-decoration: none;
}
#header .header #sub-menu .contact .callme a:hover {
  border-bottom: none;
}
#header .header #sub-menu .contact .phone {
  font-family: 'Open Sans', sans-serif;
  margin-top: 27px;
  color: #491e05;
  font-size: 36px;
  text-align: right;
}
#header .header #sub-menu .contact .phone span {
  color: #39b385;
  font-size: 18px;
}
#header .header #sub-menu .contact .address {
  text-align: right;
  color: #2f3b4b;
  font-size: 16px;
}
#header .header #sub-menu #callme.popup {
  background: #fff url(../images/slices/bg-menu-track.png);
  width: 240px;
  display: none;
  opacity: 1;
  position: absolute;
  right: 2px;
  top: 5px;
  font-size: 12px;
  color: #2f3b4b;
  text-align: right;
  padding: 5px 10px 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 3px 2px #888;
  -moz-box-shadow: 2px 2px 3px 2px #888;
  box-shadow: 2px 2px 3px 2px #888;
}
#header .header #sub-menu #callme.popup a.close {
  opacity: 0.7;
  color: #2f3b4b;
  position: absolute;
  top: 0px;
  left: -25px;
  font-size: 24px;
}
#header .header #sub-menu #callme.popup a.close:hover {
  opacity: 0.9;
}
#header .header #sub-menu #callme.popup p {
  padding-top: 5px;
  font-style: italic;
}
#header .header #sub-menu #callme.popup input {
  padding: 1px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}
#header .header #sub-menu #callme.popup div {
  margin-bottom: 3px;
}
#header .header #sub-menu #callme.popup div a {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 5px;
  color: #ff3300;
}
#header .header #main-menu {
  height: 38px;
}
#header .header #main-menu > .col {
  background: #eeeef0 url(../images/slices/bg-menu-track.png) right;
}
#header .header #main-menu ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
}
#header .header #main-menu ul li {
  font-size: 14px;
  margin-right: 15px;
  display: inline-block;
}
#header .header #main-menu ul li i {
  color: #595959;
}
#header .header #main-menu ul li a {
  padding-left: 10px;
  text-transform: uppercase;
  color: #000;
}
#header .header #main-menu ul li a:hover {
  color: #ff3300;
  text-decoration: none;
}
/* --- END header --- */
/* === carousel actions  === */
section#actions {
  padding-top: 2px;
}
section#actions .carousel {
  width: 67%;
  float: left;
}
section#actions .carousel .carousel-indicators {
  bottom: 0;
  width: 50%;
  left: 100%;
  text-align: left;
  padding-left: 20px;
  margin: 0 0 1px 0;
}
section#actions .carousel .carousel-indicators li {
  border: 1px solid #bfbfbf;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 2px;
}
section#actions .carousel .carousel-indicators li.active {
  width: 13px;
  height: 13px;
  background-color: #F24585;
  border: none;
  -webkit-box-shadow: 0 -9px 10px -7px #333 inset;
  -moz-box-shadow: 0 -9px 10px -7px #333 inset;
  box-shadow: 0 -9px 10px -7px #333 inset;
}
section#actions .carousel .carousel-control {
  opacity: 0;
}
section#actions .carousel .carousel-control:hover {
  opacity: 0.8;
}
section#actions .carousel-captions {
  width: 33%;
  float: left;
}
section#actions .carousel-captions .carousel-caption {
  display: none;
  position: initial;
  color: #595959;
  text-shadow: none;
  text-align: left;
  padding: 10px 10px 0 20px;
  line-height: 24px;
  max-height: 240px;
  overflow: hidden;
}
section#actions .carousel-captions .carousel-caption h3 {
  color: #ff3300;
  margin-top: 0;
}
section#actions .carousel-captions .carousel-caption.active {
  display: block;
}
/* --- END carousel actions --- */
/* === breadcrumbs === */
section#breadcrumbs {
  height: 33px;
}
section#breadcrumbs ol.breadcrumb {
  background-color: #fff;
  font-size: 12px;
  padding: 8px 20px;
  margin-bottom: 0;
}
section#breadcrumbs ol.breadcrumb li:before {
  color: #ff3300;
}
section#breadcrumbs ol.breadcrumb li a {
  color: #ff3300;
}
/* --- END breadcrumbs --- */
/* === section service === */
section#service {
  background-color: #eeeef0;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
section#service .header h3,
section#service .header p {
  text-align: center;
}
section#service .header h3 {
  color: #ff3300;
  text-transform: uppercase;
  margin-top: 12px;
  font-size: 20px;
  margin-bottom: 0;
}
section#service .header p {
  color: #2f3b4b;
  font-size: 18px;
  margin-bottom: 17px;
}
section#service .car-model {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #e4e4e6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#e4e4e6, #dfdfe8);
  /* Standard syntax */
  padding: 6px 10px 10px;
  min-height: 320px;
}
section#service .car-model:hover {
  background: #e0e0ec;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#e0e0ec, #c6c6d4);
  /* Standard syntax */
}
section#service .car-model h2 {
  color: #3ea8f6;
  text-align: center;
  margin-top: 0;
  font-size: 24px;
}
section#service .car-model .car-img {
  text-align: center;
  margin-top: 16px;
}
section#service .car-model .car-img img {
  max-height: 75px;
}
section#service .car-model hr {
  border-top: 1px solid #000;
  margin: 10px auto 6px;
  width: 90%;
}
section#service .car-model .choice-container .choice {
  display: none;
}
section#service .car-model .choice-container .choice.active {
  display: block;
}
section#service .car-model .choice-container .choice[data-choice-state='0'] {
  text-align: center;
}
section#service .car-model .choice-container .choice p {
  line-height: 24px;
  text-align: center;
  height: 120px;
  overflow: hidden;
}
section#service .car-model .choice-container .choice button {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 3px 15px;
  display: block;
  margin: 12px auto;
  width: 140px;
  border-width: 3px;
  border-color: #fff #aaa #aaa #fff;
  border-style: solid inset inset solid;
  -webkit-box-shadow: 0 0 0 1px #666;
  -moz-box-shadow: 0 0 0 1px #666;
  box-shadow: 0 0 0 1px #666;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #078cd6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#078cd6, #1a6eb1);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#078cd6, #1a6eb1);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#078cd6, #1a6eb1);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#078cd6, #1a6eb1);
  /* Standard syntax */
}
section#service .car-model .choice-container .choice button:active {
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-style: inset solid solid inset;
}
section#service .car-model .choice-container .choice button:focus {
  outline: none;
}
section#service .car-model .choice-container .choice .back {
  text-align: right;
}
section#service .car-model .choice-container .choice .back a {
  color: #000;
}
section#service .car-model .choice-container .choice .back a:hover {
  color: #3ea8f6;
}
section#service .car-model .choice-container .choice .back a:visited,
section#service .car-model .choice-container .choice .back a:focus,
section#service .car-model .choice-container .choice .back a:hover {
  text-decoration: none;
}
section#service .car-model .choice-container .choice ul.sub-list {
  padding-left: 10px;
  line-height: 18px;
}
section#service .car-model .choice-container .choice ul.sub-list a:before {
  content: '- ';
}
section#service .car-model .choice-container .choice ul {
  list-style-type: none;
}
section#service .car-model .choice-container .choice ul.list {
  line-height: 16px;
  padding: 0 12px;
  margin: 0 auto;
}
section#service .car-model .choice-container .choice ul.list > li {
  margin-top: 15px;
  margin-bottom: 7px;
}
section#service .car-model .choice-container .choice ul.list .sub-list {
  line-height: 18px;
  display: none;
}
section#service .car-model .choice-container .choice ul.list .sub-list.active {
  display: block;
}
section#service .car-model .choice-container .choice ul li a {
  color: #000;
}
section#service .car-model .choice-container .choice ul li a:hover {
  color: #3ea8f6;
}
section#service .car-model .choice-container .choice ul li a:visited,
section#service .car-model .choice-container .choice ul li a:focus,
section#service .car-model .choice-container .choice ul li a:hover {
  text-decoration: none;
}
/* --- END section service --- */
/* === section info === */
section#info {
  color: #333333;
  background-color: #eeeef0;
  margin-top: 20px;
}
section#info h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
}
section#info h3 i {
  color: #078cd6;
  margin-right: 10px;
}
section#info .about,
section#info .contacts {
  padding: 0;
}
section#info h3 {
  background-color: #fff;
  padding: 20px 15px 6px 20px;
  margin: 0;
}
section#info .wrap-content {
  background-color: #eeeef0;
  padding: 10px 15px 10px 20px;
}
section#info .contacts h3 {
  padding-left: 10px;
}
section#info .contacts .wrap-content {
  padding-left: 10px;
  padding-right: 20px;
}
section#info .contacts .moreinfo {
  margin-top: 5px;
}
section#info .content {
  background-color: #fff;
  padding: 10px 15px;
  height: 140px;
}
section#info .moreinfo {
  text-align: right;
}
section#info .moreinfo a {
  color: #ff3300;
  font-size: 13px;
}
section#info a.email {
  color: inherit;
}
section#info a.email:hover {
  color: #3ea8f6;
  text-decoration: none;
}
/* --- END section info --- */
/* === section newsblock === */
section#newsblock {
  padding: 0 15px 30px;
  background: #eeeef0;
}
section#newsblock h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
}
section#newsblock h3 i {
  color: #078cd6;
  margin-right: 10px;
}
section#newsblock .moreinfo {
  text-align: right;
}
section#newsblock .moreinfo a {
  color: #ff3300;
  font-size: 13px;
}
section#newsblock h3 {
  margin-top: 8px;
  margin-left: 5px;
  margin-bottom: 8px;
}
section#newsblock h4 {
  color: #ff3300;
  margin-top: 0;
}
section#newsblock .anons {
  line-height: 18px;
}
section#newsblock .anons img {
  float: left;
  margin-right: 10px;
  max-width: 90px;
  max-height: 60px;
}
section#newsblock .row {
  margin-bottom: 20px;
}
/* --- END section newsblock --- */
/* === socials === */
section#socials {
  text-align: center;
  padding: 15px 0;
}
/* --- END socials --- */
/* === footer === */
.footer-container footer.wrapper {
  background-color: #444444;
  color: #fff;
}
.footer-container footer.wrapper h5 {
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  padding: 15px 0;
}
.footer-container footer.wrapper .col-socials {
  padding-top: 25px;
  text-align: right;
}
.footer-container footer.wrapper ul {
  list-style-type: none;
  text-align: right;
  display: inline-block;
}
.footer-container footer.wrapper ul li {
  opacity: 0.7;
  position: relative;
  display: block;
  float: left;
  border: 2px solid #fff;
  width: 38px;
  height: 38px;
  border-radius: 99px;
}
.footer-container footer.wrapper ul li a {
  color: #fff;
  position: absolute;
  font-size: 24px;
}
.footer-container footer.wrapper ul li:hover {
  opacity: 1;
}
.footer-container footer.wrapper ul li.youtube {
  background-color: #ff3300;
}
.footer-container footer.wrapper ul li.youtube a {
  top: 0;
  left: 7px;
}
.footer-container footer.wrapper ul li.vk {
  background-color: #48729E;
}
.footer-container footer.wrapper ul li.vk a {
  top: 1px;
  left: 4px;
}
/* --- END footer --- */
/* === === === === === === === OTHER PAGES === === === === === === === */
section#map .yandex_map {
  background: url("/static/images/ajax-loader.gif") no-repeat center center;
  height: 460px;
  width: 100%;
  padding: 3px;
  margin-bottom: 30px;
}
section#write-us h2 {
  text-align: center;
  color: #626e7e;
  font-family: 'Open Sans', sans-serif;
}
section#write-us form {
  padding: 20px 0 40px;
}
section#write-us form div {
  margin: 20px 0;
  text-align: right;
}
section#write-us form div .form-error {
  text-align: right;
  color: #ff3300;
}
section#write-us form .has-error > label {
  color: #626e7e;
}
section#write-us form label {
  color: #626e7e;
  width: 30%;
  margin-right: 15px;
  font-size: 18px;
  text-align: right;
}
section#write-us form label[for=message] {
  vertical-align: top;
}
section#write-us form input:not([type=submit]),
section#write-us form textarea {
  width: 60%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #aeaeae;
}
section#write-us form input:not([type=submit]):focus,
section#write-us form textarea:focus {
  border-color: rgba(57, 179, 133, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 179, 133, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 179, 133, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 179, 133, 0.8);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
section#write-us form input {
  font-size: 20px;
  padding-left: 9px;
}
section#write-us form input[type=submit] {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 3px 15px;
  display: block;
  margin: 12px auto;
  width: 140px;
  border-width: 3px;
  border-color: #fff #aaa #aaa #fff;
  border-style: solid inset inset solid;
  -webkit-box-shadow: 0 0 0 1px #666;
  -moz-box-shadow: 0 0 0 1px #666;
  box-shadow: 0 0 0 1px #666;
  font-family: 'Open Sans', sans-serif;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #078cd6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#078cd6, #1a6eb1);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#078cd6, #1a6eb1);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#078cd6, #1a6eb1);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#078cd6, #1a6eb1);
  /* Standard syntax */
  margin-left: auto;
  margin-right: 0;
}
section#write-us form input[type=submit]:active {
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-style: inset solid solid inset;
}
section#write-us form input[type=submit]:focus {
  outline: none;
}
section#write-us form input[type=submit]:focus {
  outline-offset: 0;
  outline: auto 5px #39B385;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 179, 133, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 179, 133, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(57, 179, 133, 0.8);
}
section#write-us form textarea {
  height: 100px;
  padding: 5px;
}
section#about {
  background-color: #eeeef0;
}
section#about h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
}
section#about h3 i {
  color: #078cd6;
  margin-right: 10px;
}
section#about .local-wrapper {
  margin: 20px auto 40px;
  width: 80%;
}
section#stuff {
  background-color: #eeeef0;
  padding-bottom: 30px;
}
section#stuff h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
}
section#stuff h3 i {
  color: #078cd6;
  margin-right: 10px;
}
section#stuff .stuff {
  text-align: center;
  padding: 15px 0;
}
section#stuff .stuff img {
  width: 80%;
}
section#news .article-col {
  padding-bottom: 30px;
}
section#news .article-col h3 {
  color: #ff3300;
}
section#news .article-col h3 .date {
  font-size: 14px;
  float: right;
  padding: 5px 0;
}
section#news .article-col .full-text {
  color: #595959;
}
section#page-service {
  background-color: #eeeef0;
}
section#page-service h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
}
section#page-service h3 i {
  color: #078cd6;
  margin-right: 10px;
}
section#page-service h3 {
  padding: 0 15px 10px;
}
section#page-service .row {
  padding-bottom: 20px;
}
section#page-service .row .service-type {
  display: block;
  height: 150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #e4e4e6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#e4e4e6, #dfdfe8);
  /* Standard syntax */
  text-align: left;
  text-decoration: none;
  color: inherit;
  position: relative;
}
section#page-service .row .service-type .service-name {
  font-size: 24px;
  vertical-align: middle;
  position: absolute;
  top: 60px;
  left: 43%;
}
section#page-service .row .service-type img {
  max-height: 150px;
  padding: 20px;
}
section#page-service .row .service-type:hover {
  background: #e0e0ec;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#e0e0ec, #c6c6d4);
  /* Standard syntax */
}
