/* === *
  Шрифты
  ------
  общий - Myriad Pro (аналог: PT Sans)
  телефонный номер - Century Gothic (аналог: Muli)
  кнопка ВЫБРАТЬ - Calibri (аналог: Open Sans)
 * === */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
/* === fonts === */
/* --- END fonts --- */
/* === color_variables  === */
/* --- END color_variables --- */
/* === mixin_functions === */
/* --- END mixin_functions --- */
/* === common === */
body {
  font-family: 'PT Sans', sans-serif;
}
.wrapper {
  margin: 0 3px;
}
@media (min-width: 1042px) {
  .wrapper {
    margin: 0 auto;
  }
}
/* --- END common --- */
/* === header === */
#header .subheader {
  background: #2f3b4b url("../images/slices/bg-subheader.png") repeat-x;
  color: #ffffff;
  height: 33px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#header .subheader .glyphicon {
  color: #566c8a;
}
#header .subheader a.enter {
  color: #fff;
}
#header .subheader a.enter:hover .glyphicon {
  color: #fff;
}
#header .header #sub-menu {
  background: #ffffff url("../images/slices/bg-header-track.jpg") no-repeat;
  background-position: right;
}
#header .header #sub-menu .slogan {
  font-size: 17px;
  padding: 30px 0;
  color: #2f3b4b;
}
#header .header #sub-menu .contact .callme {
  margin-top: 10px;
  text-align: right;
}
#header .header #sub-menu .contact .callme a {
  color: #ff3300;
  border-bottom: 1px dotted;
  text-decoration: none;
}
#header .header #sub-menu .contact .callme a:hover {
  border-bottom: none;
}
#header .header #sub-menu .contact .phone {
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  color: #491e05;
  font-size: 32px;
  text-align: right;
}
#header .header #sub-menu .contact .phone span {
  color: #39b385;
  font-size: 18px;
}
#header .header #sub-menu .contact .address {
  text-align: right;
  color: #2f3b4b;
  font-size: 18px;
}
#header .header #main-menu {
  background-color: #eeeef0;
  height: 40px;
}
#header .header #main-menu ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 8px;
}
#header .header #main-menu ul li {
  font-size: 13px;
  margin-right: 20px;
  display: inline-block;
}
#header .header #main-menu ul li i {
  color: #595959;
}
#header .header #main-menu ul li a {
  padding-left: 10px;
  text-transform: uppercase;
  color: #000;
}
#header .header #main-menu ul li a:hover {
  color: #ff3300;
  text-decoration: none;
}
/* --- END header --- */
/* === carousel actions  === */
section#actions {
  padding-top: 3px;
}
section#actions .carousel {
  width: 65%;
  float: left;
}
section#actions .carousel .carousel-indicators {
  bottom: 0;
  width: 50%;
  left: 100%;
  margin-left: 0;
  text-align: left;
  padding-left: 10px;
}
section#actions .carousel .carousel-indicators li {
  border: 1px solid #bfbfbf;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin: 0 2px;
}
section#actions .carousel .carousel-indicators li.active {
  width: 13px;
  height: 13px;
  background-color: #F24585;
  border: none;
  -webkit-box-shadow: 0 -9px 10px -7px #333 inset;
  -moz-box-shadow: 0 -9px 10px -7px #333 inset;
  box-shadow: 0 -9px 10px -7px #333 inset;
}
section#actions .carousel .carousel-control {
  opacity: 0;
}
section#actions .carousel .carousel-control:hover {
  opacity: 0.8;
}
section#actions .carousel-captions {
  width: 35%;
  float: left;
}
section#actions .carousel-captions .carousel-caption {
  display: none;
  position: initial;
  color: #595959;
  text-shadow: none;
  text-align: left;
  padding-left: 10px;
}
section#actions .carousel-captions .carousel-caption h3 {
  color: #ff3300;
  margin-top: 0;
}
section#actions .carousel-captions .carousel-caption.active {
  display: block;
}
/* --- END carousel actions --- */
/* === breadcrumbs === */
section#breadcrumbs ol.breadcrumb {
  background-color: #fff;
  font-size: 12px;
}
section#breadcrumbs ol.breadcrumb li:before {
  color: #ff3300;
}
section#breadcrumbs ol.breadcrumb li a {
  color: #ff3300;
}
/* --- END breadcrumbs --- */
/* === section service === */
section#service {
  background-color: #eeeef0;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
section#service .header h3,
section#service .header p {
  text-align: center;
}
section#service .header h3 {
  color: #ff3300;
  text-transform: uppercase;
}
section#service .header p {
  color: #2f3b4b;
}
section#service .car-model {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #e4e4e6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#e4e4e6, #dfdfe8);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#e4e4e6, #dfdfe8);
  /* Standard syntax */
  padding: 10px 10px 10px;
  min-height: 320px;
}
section#service .car-model:hover {
  background: #e0e0ec;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#e0e0ec, #c6c6d4);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#e0e0ec, #c6c6d4);
  /* Standard syntax */
}
section#service .car-model h2 {
  color: #3ea8f6;
  text-align: center;
  margin-top: 0;
  font-size: 24px;
}
section#service .car-model .car-img {
  text-align: center;
}
section#service .car-model .car-img img {
  max-height: 78px;
}
section#service .car-model hr {
  border-top: 1px solid #000;
  margin: 10px auto 10px;
  width: 90%;
}
section#service .car-model .choice-container .choice {
  display: none;
}
section#service .car-model .choice-container .choice.active {
  display: block;
}
section#service .car-model .choice-container .choice p {
  line-height: 24px;
  text-align: center;
}
section#service .car-model .choice-container .choice button {
  -webkit-box-shadow: 0 0 0 1px #666;
  -moz-box-shadow: 0 0 0 1px #666;
  box-shadow: 0 0 0 1px #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 25px;
  display: block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #078cd6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#078cd6, #1a6eb1);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#078cd6, #1a6eb1);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(#078cd6, #1a6eb1);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(#078cd6, #1a6eb1);
  /* Standard syntax */
  border-width: 3px;
  border-color: #fff #aaa #aaa #fff;
  border-style: solid inset inset solid;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -68px;
  width: 136px;
}
section#service .car-model .choice-container .choice button:active {
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-style: inset solid solid inset;
}
section#service .car-model .choice-container .choice button:focus {
  outline: none;
}
section#service .car-model .choice-container .choice .back {
  text-align: right;
}
section#service .car-model .choice-container .choice .back a {
  color: #000;
}
section#service .car-model .choice-container .choice .back a:hover {
  color: #3ea8f6;
}
section#service .car-model .choice-container .choice .back a:visited,
section#service .car-model .choice-container .choice .back a:focus,
section#service .car-model .choice-container .choice .back a:hover {
  text-decoration: none;
}
section#service .car-model .choice-container .choice ul.sub-list {
  padding-left: 10px;
  line-height: 18px;
}
section#service .car-model .choice-container .choice ul.sub-list a:before {
  content: '- ';
}
section#service .car-model .choice-container .choice ul {
  list-style-type: none;
}
section#service .car-model .choice-container .choice ul.list {
  line-height: 16px;
  padding: 0 12px;
  margin: 0 auto;
}
section#service .car-model .choice-container .choice ul.list > li {
  margin-top: 15px;
  margin-bottom: 7px;
}
section#service .car-model .choice-container .choice ul.list .sub-list {
  line-height: 18px;
  display: none;
}
section#service .car-model .choice-container .choice ul.list .sub-list.active {
  display: block;
}
section#service .car-model .choice-container .choice ul li a {
  color: #000;
}
section#service .car-model .choice-container .choice ul li a:hover {
  color: #3ea8f6;
}
section#service .car-model .choice-container .choice ul li a:visited,
section#service .car-model .choice-container .choice ul li a:focus,
section#service .car-model .choice-container .choice ul li a:hover {
  text-decoration: none;
}
/* --- END section service --- */
/* === section info === */
section#info {
  color: #333333;
  background-color: #eeeef0;
}
section#info h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
}
section#info h3 i {
  color: #078cd6;
  margin-right: 10px;
}
section#info .about,
section#info .contacts {
  padding: 0;
}
section#info h3 {
  background-color: #fff;
  padding: 20px 0 10px;
  margin: 0;
}
section#info .wrap-content {
  background-color: #eeeef0;
  padding-top: 10px;
  padding-bottom: 10px;
}
section#info h3,
section#info .wrap-content {
  padding-left: 15px;
  padding-right: 15px;
}
section#info .content {
  background-color: #fff;
  padding: 10px 15px;
}
section#info .moreinfo {
  text-align: right;
}
section#info .moreinfo a {
  color: #ff3300;
  font-size: 14px;
}
section#info a.email {
  color: inherit;
}
section#info a.email:hover {
  color: #3ea8f6;
  text-decoration: none;
}
/* --- END section info --- */
/* === section newsblock === */
section#newsblock {
  padding: 0 15px 50px;
  background-color: #eeeef0;
}
section#newsblock h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
}
section#newsblock h3 i {
  color: #078cd6;
  margin-right: 10px;
}
section#newsblock .moreinfo {
  text-align: right;
}
section#newsblock .moreinfo a {
  color: #ff3300;
  font-size: 14px;
}
section#newsblock h3 {
  margin-top: 10px;
}
section#newsblock h4 {
  color: #ff3300;
  margin-top: 0;
}
section#newsblock .anons {
  line-height: 18px;
}
section#newsblock .anons img {
  float: left;
  margin-right: 10px;
}
section#newsblock .row {
  margin-bottom: 30px;
}
/* --- END section newsblock --- */
/* === socials === */
section#socials {
  text-align: center;
  padding: 15px 0;
}
/* --- END socials --- */
/* === footer === */
.footer-container footer.wrapper {
  background-color: #444444;
  color: #fff;
}
.footer-container footer.wrapper h5 {
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  padding: 15px 0;
}
.footer-container footer.wrapper ul {
  list-style-type: none;
  padding: 20px 10px;
  text-align: right;
  display: block;
  padding-left: 50%;
}
.footer-container footer.wrapper ul li {
  position: relative;
  display: block;
  float: left;
  border: 2px solid #fff;
  width: 48px;
  height: 48px;
  border-radius: 99px;
}
.footer-container footer.wrapper ul li a {
  color: #fff;
  position: absolute;
}
.footer-container footer.wrapper ul li.youtube {
  background-color: #ff3300;
}
.footer-container footer.wrapper ul li.youtube a {
  top: 8px;
  left: 10px;
}
.footer-container footer.wrapper ul li.vk {
  background-color: #138ad0;
}
.footer-container footer.wrapper ul li.vk a {
  top: 8px;
  left: 7px;
}
/* --- END footer --- */
